body{
    padding: 0px;
    margin: 0px;
}
.land-page{
    width: 100vw;
    height: 100vh;
    display: flex;
}
 .sideNav{
    width: 10vw;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: relative;
    top: 0px;
    left: 0px;
 }

 .main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .clearfix{
  height: 90vh;
  width: 80vw;
  color: DodgerBlue;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
 }
 .sideNav ul{
    display: block;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }
 .sideNav a{
  color: DodgerBlue;
  font-size: 20px;
 }
  #exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  

  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  /*------------------------madhuri pati;---------------*/
  
  *{
    margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
/*------navbar-------*/
.header{
  height: 100vh;
  background-image: url(./hero4.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar{
  background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px 0;
}
.navbar ul li{
  font-size: 1.1rem;
  font-weight: bold;
  
}
.navbar ul li a{
  text-decoration: none;
  color: black;
  padding: 8px 25px;
}
/*---------home-------*/
.home{
  position: absolute;
  top:40%;
  margin-left:60px;
  
}
.btn{
  padding: 5px 12px;
  background-color:gray;
  color:black;
  border: 1px solid red;
  font-size: large;
  margin-left: 20px;
  transition:.6s ease;
  text-decoration: none;
  
}
.btn:hover{
  background-color:goldenrod;
  color: black;
  box-shadow: 0 0 5px white,0 0 10px white;
}

  
  
  
  
  